[Unit]
Description=melanoma_app

[Service]
Type=simple
User=<user>
WorkingDirectory=/opt/melanoma_app
ExecStart=/opt/melanoma_app/env/bin/streamlit run --server.headless True --server.address 0.0.0.0 --server.port=8501 /opt/melanoma_app/app.py

[Install]
WantedBy=multi-user.target
