[Unit]
Description=melanoma_bot

[Service]
Type=simple
User=<user>
WorkingDirectory=/opt/melanoma_bot
ExecStart=/opt/melanoma_bot/env/bin/python3 /opt/melanoma_bot/bot.py

[Install]
WantedBy=multi-user.target
