[Unit]
Description=melanoma_bot

[Service]
Type=simple
User=<user>
WorkingDirectory=/opt/melanoma
ExecStart=/opt/melanoma/env/bin/python3 /opt/melanoma/bot.py

[Install]
WantedBy=multi-user.target
