[Unit]
Description=<name>_bot

[Service]
Type=simple
User=<user>
WorkingDirectory=/opt/<name>_bot
ExecStart=/opt/<name>_bot/env/bin/python3 /opt/<name>_bot/bot.py <owner> <token>

[Install]
WantedBy=multi-user.target